name: CI Debian

on:
  push:
    branches:
      - main
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        debian_version: [bullseye, bookworm]
    container:
      image: debian:${{ matrix.debian_version }}

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        #!/bin/bash
        apt update && apt install -y cmake build-essential pkg-config libssl-dev protobuf-compiler-grpc libgrpc++-dev && mkdir -p kuka-external-control-sdk/build && mkdir -p kuka-external-control-sdk-examples/build

    - name: Build and install
      run: cmake .. && make install
      working-directory: ./kuka-external-control-sdk/build

    - name: Build and install examples
      run: cmake .. && make install
      working-directory: ./kuka-external-control-sdk-examples/build
