name: CI RHEL/alma

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rhel_version: [8, 9]
      fail-fast: false
    container:
      image: almalinux:${{ matrix.rhel_version }}

    steps:
    - uses: actions/checkout@v2


    - name: Install protobuf for RHEL 8
      if: matrix.rhel_version == 8
      run: dnf install --enablerepo=powertools -y protobuf-devel
    - name: Install protobuf for RHEL 9
      if: matrix.rhel_version == 9
      run: dnf install --enablerepo=crb -y protobuf-devel
    - name: Install dependencies
      run: |
        #!/bin/bash
        dnf install -y https://repo.almalinux.org/almalinux/almalinux-release-synergy-latest-${{ matrix.rhel_version }}.noarch.rpm && dnf install -y cmake gcc-c++ openssl-devel grpc-devel grpc-plugins && mkdir -p kuka_external_control_sdk/build && mkdir -p kuka_external_control_sdk_examples/build

    - name: Build and install
      run: cmake -DCMAKE_TESTING_ENABLED=1 .. && make install
      working-directory: ./kuka_external_control_sdk/build

    - name: Build and install examples
      run: cmake -DCMAKE_TESTING_ENABLED=1 .. && make
      working-directory: ./kuka_external_control_sdk_examples/build
