name: CI Ubuntu

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        #!/bin/bash
        sudo apt update && sudo apt install -y cmake build-essential pkg-config libssl-dev protobuf-compiler-grpc libgrpc++-dev libgtest-dev libtinyxml2-dev && mkdir -p kuka_external_control_sdk/build && mkdir -p kuka_external_control_sdk_examples/build

    - name: Build and install
      run: cmake -DBUILD_TESTING=1 .. && make install
      working-directory: ./kuka_external_control_sdk/build

    - name: Run iiQKA tests
      run: ./test_robot && ./test_message_builder
      working-directory: ./kuka_external_control_sdk/build/iiqka

    - name: Run KSS tests
      run: ./test_kss_message_builder
      working-directory: ./kuka_external_control_sdk/build/kss

    - name: Build and install examples
      run: cmake -DBUILD_TESTING=1 .. && make
      working-directory: ./kuka_external_control_sdk_examples/build
