name: ROS-Industrial CI
run-name: ROS-Industrial CI - ${{ github.event_name }}

# This determines when this workflow is run
# on: [push, pull_request] # on all pushes and PRs

# or more fine-grained
on:
  # When main, feature or fix branch is pushed to
  push:
    branches:
      - master
      - feature/**
      - fix/**
  # When there is a pull request against master
  pull_request:
    branches:
      - master
      - feature/**
      - fix/**

jobs:
  industrial_ci:
    name: ROS-Industrial CI
    strategy:
      matrix:
        env:
        - ROS_REPO: ros
          BUILDER: colcon
          TEST_COVERAGE: true
          ROS_DISTRO: humble
    env:
      CCACHE_DIR: /github/home/.ccache # Directory for ccache (and how we enable ccache in industrial_ci)
      EVENT_NAME: ${{ github.event_name }}
      BRANCH: ${{ github.event.ref }}
      PR_BRANCH: ${{ github.event.pull_request.head.ref }}
      PR_BASE: ${{ github.event.pull_request.base.ref }}
      PR_NUMBER: ${{ github.event.number }}
      DEBUG_BASH: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # This step will fetch/store the directory used by ccache before/after the ci run
      - uses: actions/cache@v4
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ matrix.env.ROS_DISTRO }}-${{ matrix.env.ROS_REPO }}
      - name: Install libtinyxml2-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libtinyxml2-dev
      # Run industrial_ci
      - uses: 'kroshu/industrial_ci@master'
        env: ${{ matrix.env }}
